nav
    .title Menu
    ul.menu
        li
            a(href="#")
                i.fas.fa-home
                span Home
        li
            a(href="#")
                i.fas.fa-tv
                span Channel
    include footer