.social-login
    a(href=routes.github)
        button
            i.fab.fa-github
            span Continue with Github
    a(href=routes.google)
        button
            i.fab.fa-google
            span Continue with Google