a(href=routes.github)
    button
        span
            i.fab.fa-github
        |Continue with Github
a(href=routes.google)
    button
        span
            i.fab.fa-google
        |Continue with Google