* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  border: none;
  background-color: inherit;
  outline: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0;
  outline: none;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

.aside-and-main {
  display: flex;
  aside {
    flex: 1 1 10%;
  }
  main {
    flex: 1 1 90%;
    margin-left: $asideWidth;
    background-color: whitesmoke;
    min-height: calc(100vh - #{$headerHeight});
  }
}
