.form-container {
  display: flex;
  flex-direction: column;
  width: $inputWidth;
  .title {
    font-size: $font3x;
    margin-bottom: $margin2x;
  }
  form {
    margin-bottom: $margin2x;
    .input-container {
      position: relative;
      margin-bottom: $padding;
      label,
      span {
        position: absolute;
        &.active {
          top: $marginSmall;
          font-size: $fontMicro;
          color: $greyDarkColor;
          transition: all 0.1s ease-in-out;
        }
      }
      label {
        left: $inputPaddingHorizontal;
        top: 15.5px;
        font-size: $fontMedium;
        color: $greyLightColor;
        &.active {
          color: $greyDarkColor;
        }
      }
      span {
        right: $inputPaddingHorizontal;
        display: none;
        &.active {
          color: $redColor;
          display: block;
        }
      }
      input,
      textarea {
        padding: $inputPaddingVertical $inputPaddingHorizontal;
        padding-bottom: $inputPaddingBottom;
        font-size: $fontMedium;
      }
      textarea {
        height: 400px;
      }
      &.file {
        label {
          top: $marginSmall;
          font-size: $fontMicro;
          color: $greyDarkColor;
        }
        input {
          font-size: $fontSmall;
          color: $blackColor;
        }
      }
    }
    input[type="submit"] {
      height: $inputHeight;
      font-size: $fontMedium;
      color: $blackColor;
      background-color: $greyLightColor;
    }
  }
  .social-login {
    display: flex;
    justify-content: space-between;
    a {
      width: 48%;
      button {
        height: $inputHeight;
        font-size: $fontSmall;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: $fontMedium;
          margin-right: $marginSmall;
        }
      }
    }
  }
  button {
    height: $inputHeight;
    font-size: $fontMedium;
    color: $whiteLightColor;
    background-color: $greyDarkColor;
    border-radius: 4px;
  }
}
