.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $paddingLarge;
  background-color: $whiteLightColor;
  .logo {
    font-size: $fontLarge;
    a {
      display: flex;
      align-items: center;
      i {
        color: $redColor;
        font-size: $font4x;
        margin-right: $marginExtraSmall;
      }
    }
  }
  nav {
    ul {
      display: flex;
      li {
        padding: $paddingSmall;
        text-transform: uppercase;
        &:hover {
          background-color: $whiteDarkColor;
          border-radius: 4px;
        }
      }
    }
  }
}
