header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blackColor;
  padding: $padding $paddingHorizontal;
  .logo {
    i {
      font-size: $font2x;
      margin-right: $marginSmall;
      color: $redColor;
    }
    span {
      font-size: $fontLarge;
    }
  }
  form {
    position: relative;
    width: 50%;
    i {
      position: absolute;
      top: 6px;
      left: 8px;
      font-size: $fontLarge;
      color: $greyLightColor;
    }
    input {
      width: 100%;
      padding: calc(#{$padding}/ 2);
      padding-left: calc(#{$padding}* 3);
      font-size: 18px;
    }
  }
  ul {
    display: flex;
    li {
      border-radius: 4px;
    }
  }
}
