.user-block {
  display: flex;
  flex-direction: column;
  font-size: $fontSmall;
  padding: $paddingMedium 0;
  border-top: 1px solid $whiteLightColor;
  border-bottom: 1px solid $whiteLightColor;
  .user-block__column {
    &:first-child {
      display: flex;
      align-items: center;
      img {
        width: $avatarWidth;
        height: $avatarHeight;
        border-radius: 50%;
        margin-right: $marginMedium;
      }
      .user-info {
        h4 {
          margin-bottom: 6px;
        }
        span {
          color: $greyLightColor;
        }
      }
    }
    &:nth-child(2) {
      margin-top: $marginLarge;
      padding-left: calc(#{$avatarWidth} + #{$marginMedium});
    }
  }
}
