extends layouts/main

block content
    form(action="", method="post")
        input(type="password", name="oldPassword", placeholder="Current Password" required)
        input(type="password", name="newPassword", placeholder="Password", required)
        input(type="password", name="newPassword1", placeholder="Verify Password", required)
        input(type="submit", value="Change Password")