extends layouts/main

block content
    .form-container
        form(action="", method="post")
            h3.title=title
            .input-container
                label(for="oldPassword") Current Password
                span Required
                input.input(type="password", name="oldPassword", id="oldPassword", required)
            .input-container
                label(for="newPassword") Password
                span Required
                input.input(type="password", name="newPassword", id="newPassword", required)
            .input-container
                label(for="newPassword1") Verify Password
                span Required
                input.input(type="password", name="newPassword1", id="newPassword1", required)
            input(type="submit", value="Change Password")