extends layouts/main

block content
    .form-container
        h3.title=title
        form(action=routes.editProfile(loggedUser.id), method="post", enctype="multipart/form-data")
            .input-container.file
                label(for="avatarFile") Avatar Image
                span Required
                input.input(type="file", id="avatarFile" name="avatarFile", accept="image/*")
            .input-container
                label(for="name") Name
                span Required
                input.input(name="name", value=loggedUser.name, id="name")
            input(type="submit", value="Edit Profile")
