extends layouts/main

block content
    form(action=routes.editVideo(video._id), method="post")
        input(type="text", name="title", value=video.title)
        textarea(name="description")=video.description
        input(type="submit", value="Edit Video")