extends layouts/main
include mixins/videoBlock

block content
    each video in videos
        +videoBlock({
            videoId: video._id,
            videoUrl: video.videoUrl,
            title: video.title,
            description: video.description
        })
