extends layouts/main
include mixins/videoBlock

block content
    each video in videos
        +videoBlock({
            videoFile: video.videoFile,
            title: video.title,
            description: video.description
        })
