extends layouts/main

block content
    .form-container
        h3.title=title
        form(action=routes.join, method="post")
            .input-container
                label(for="name") Name
                span Required
                input.input(type="text", name="name", id="name")
            .input-container
                label(for="email") Email
                span Required
                input.input(type="email", name="email", id="email")
            .input-container
                label(for="password") Password
                span Required
                input.input(type="password", name="password", id="password")
            .input-container
                label(for="password1") Verify Password
                span Required
                input.input(type="password", name="password1", id="password1")
            input(type="submit", value=`${title}`)
        include partials/socialLogin