extends layouts/main

block content
    form.form-container(action=routes.join, method="post")
        .input-container
            span.inputName Name
            span.inputMsg Required
            input(type="text", name="name")
        .input-container
            span.inputName Email
            span.inputMsg Required
            input(type="email", name="email")
        .input-container
            span.inputName Password
            span.inputMsg Required
            input(type="password", name="password")
        .input-container
            span.inputName Verify Password
            span.inputMsg Required
            input(type="password", name="password1")
        input(type="submit", value="Join")
    include partials/socialLogin