extends layouts/main

block content
    form.form-container(action=routes.login, method="post")
        .input-container
            span.inputName Email
            span.inputMsg Required
            input(type="email", name="email")
        .input-container
            span.inputName Password
            span.inputMsg Required
            input(type="password", name="password")
        input(type="submit", value="Login")
    include partials/socialLogin