extends layouts/main

block content
    img(src=user.avatarUrl)
    h3=user.name
    if loggedUser.id === user.id
        a(href=routes.editProfile(user.id))
            button Edit Profile
        a(href=routes.changePassword(loggedUser.id))
            button Change Password