* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: $whiteLightColor;
}

a {
  text-decoration: none;
  color: $whiteLightColor;
}

li {
  padding: $padding;
  &:hover {
    background-color: $greyColor;
  }
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  padding: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-color: $whiteColor;
}

textarea {
  resize: none;
  font-family: inherit;
}

.navAndMain {
  display: flex;
  height: 100vh;
  main {
    width: 100%;
    background-color: $greyColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
