extends layouts/main

block content
    article.change-password
        .page-info-and-form-container
            section.page-info
                h1.pageTitle Change Password
                p.description
                    |Welcome to WeTube!<br>
                    |You can sign up with our site by filling out the form or using social login.
            form.form-container#jsForm(action=`${routes.user}${routes.changePassword}`, method="post")
                .input-container
                    h5.title.large Current password
                    span.msg.hidden message
                    input.input(type="password", name="oldPassword", required)
                .input-container
                    h5.title.large New password
                    span.msg.hidden message
                    input.input(type="password", name="newPassword", required)
                .input-container
                    h5.title.large Verify password
                    span.msg.hidden message
                    input.input(type="password", name="newPassword1", required)
                input(type="submit", value="Change Password")
                