extends layouts/main

block content
    article.edit-video
        .page-info-and-form-container
            section.page-info
                h1.pageTitle Edit Video
                p.description
                    |Welcome to WeTube!<br>
                    |You can sign up with our site by filling out the form or using social login.
            form.form-container#jsForm(action=routes.editVideo(video.id), method="post")
                .input-container
                    h5.title.large Title
                    span.msg.hidden message
                    input.input(type="text", name="title", required, value=video.title)
                .input-container
                    h5.title.large Description
                    span.msg.hidden message
                    textarea.textarea(name="description", required)=video.description
                input(type="submit", value="Edit Video")
                .divider
                    .line
                    span or
                    .line
                ul.additional-btns
                    li.btn
                        a.delete-video-link(href="#")
                            span Delete Video