extends layouts/main

block content
    article.upload
        .page-info-and-form-container
            section.page-info
                h1.pageTitle Upload
                p.description
                    |Welcome to WeTube!<br>
                    |You can sign up with our site by filling out the form or using social login.
            form.form-container#jsForm(action=`${routes.video}${routes.upload}`, method="post", enctype="multipart/form-data")
                .input-container
                    h5.title Video File
                    span.msg.hidden message
                    input.input(type="file", name="videoFile", required, accept="video/*")
                .input-container
                    h5.title.large Title
                    span.msg.hidden message
                    input.input(type="text", name="title", required)
                .input-container
                    h5.title.large Description
                    span.msg.hidden message
                    textarea.textarea(name="description", required)
                input(type="submit", value="Upload")