extends layouts/main

block content
    article.user-detail
        section.channel-info
            img(src="/static/profile.png")
            .metadata
                .user-info-and-tabs
                    .user-info-and-btns
                        .user-info
                            h3.name Rossa
                        ul.btns
                            li.btn
                                a(href=`${routes.user}${routes.editProfile}`)
                                    span Edit Profile
                            li.btn
                                a(href=`${routes.video}${routes.upload}`)
                                    span Upload
                            li.btn
                                span Subscribe
                    ul.tabs
                        li.tab.active
                            span Home
                        li.tab
                            span Videos
                        li.tab
                            span Playlists
        section.tab-content