extends layouts/main

block content
    .video-detail
        section.video-player
            video(src="/static/Big_Buck_Bunny_360_10s_1MB.mp4")
        .video-detail-metadata
            .video-info-and-channel-info
                section.video-info
                    span.title Video Title
                    .views-and-actions
                        span.views 1M views &#8901; 2020. 10. 10.
                        ul.actions
                            li
                                button
                                    i.far.fa-heart
                                    span 1K
                            li
                                button
                                    i.fas.fa-plus
                                    span save
                .channel-and-description
                    section.channel
                        .creator
                            a(href="#")
                                img(src="/static/profile.png")
                            .metadata
                                a.name(href="#")
                                    span Rossa
                                span.subscribers 1M subscribers
                        button.subscribe Subscribe
                    section.video-description
                        span.description This is video description!!!
                        button.more-btn More
            .horizontal-divider
            section.comments
                form.comment-form(action="#", method="#")
                    .avatar-and-text
                        img(src="/static/profile.png")
                        input(type="text", name="comment", placeholder="Add your comment...", autocomplete="off")
                    .btns
                        button Cancel
                        input(type="submit", value="comment")
                ul.commentors
                    li.commentor
                        .commentor-info
                            a(href="#")
                                img(src="/static/profile.png")
                            .metadata-and-actions
                                .metadata
                                    .name-and-created-date
                                        a(href="#")
                                        span.name Nomad
                                        span.created-date 1 month ago
                                    span.comment This is Comment!!
                                .actions
                                    button
                                        i.far.fa-heart
                                        span 1K
                                    button.reply reply
                        button.more-btn
                            i.fas.fa-ellipsis-v
                    li.commentor
                        .commentor-info
                            a(href="#")
                                img(src="/static/profile.png")
                            .metadata-and-actions
                                .metadata
                                    .name-and-created-date
                                        a(href="#")
                                        span.name Nomad
                                        span.created-date 1 month ago
                                    span.comment This is Comment!!
                                .actions
                                    button
                                        i.far.fa-heart
                                        span 1K
                                    button.reply reply
                        button.more-btn
                            i.fas.fa-ellipsis-v
                    li.commentor
                        .commentor-info
                            a(href="#")
                                img(src="/static/profile.png")
                            .metadata-and-actions
                                .metadata
                                    .name-and-created-date
                                        a(href="#")
                                        span.name Nomad
                                        span.created-date 1 month ago
                                    span.comment This is Comment!!
                                .actions
                                    button
                                        i.far.fa-heart
                                        span 1K
                                    button.reply reply
                        button.more-btn
                            i.fas.fa-ellipsis-v