mixin userBlock(user = {})
    section.user-block
        .user-block__column
            .user-block__channel
                img(src=`${user.avatarUrl}`)
                .user-info
                    h4=user.name
                    span 1M subscribers
            .user-block__btns
                if (subscribe)
                    button.active Subscribing
                else
                    button Subscribe
        .user-block__column
            p=user.description