// Colors
$blackDarkColor: #000a12;
$blackLightColor: #263238;
$greyDarkColor: #4f5b62;
$greyLightColor: #bdc3c7;
$blueColor: #3498db;
$redColor: #ff0000;
$whiteLightColor: #f9f9f9;
$whiteDarkColor: #f1f1f1;

// Font sizes
$font2xSmall: 10px;
$fontExtraSmall: 12px;
$fontSmall: 14px;
$fontBasic: 16px;
$fontMedium: 18px;
$fontLarge: 20px;
$font2x: 24px;
$font3x: 28px;
$font4x: 32px;

// Padding sizes
$paddingExtraSmall: 4px;
$paddingSmall: 8px;
$paddingMedium: 12px;
$paddingLarge: 16px;
$padding2x: 20px;
$padding3x: 24px;

// Margin sizes
$marginExtraSmall: 4px;
$marginSmall: 8px;
$marginMedium: 12px;
$marginLarge: 16px;
