// Colors
$blackColor: #0b0b0d;
$greyDarkColor: #262522;
$greyColor: #737272;
$greyLightColor: #bfbfbd;
$whiteLightColor: #f2f2f2;
$whiteColor: #fdfbfb;
$redColor: #e71f1f;
$blueColor: #3498db;

// Font sizes
$fontMicro: 12px;
$fontSmall: 14px;
$fontMedium: 18px;
$fontLarge: 24px;
$font2x: 30px;
$font3x: 48px;

// Padding sizes
$paddingSmall: 10px;
$padding: 14px;
$paddingMedium: 24px;
$paddingHorizontal: 30px;

// Margin sizes
$marginMicro: 4px;
$marginSmall: 8px;
$marginMedium: 12px;
$marginLarge: 20px;
$margin2x: 30px;

// Input sizes
$inputWidth: 440px;
$inputHeight: 49px;
$inputMargin: 14px;
$inputPaddingVertical: 24px;
$inputPaddingHorizontal: 12px;
$inputPaddingBottom: 4px;

// Avatar sizes
$avatarWidth: 46px;
$avatarHeight: 46px;
