.footer {
  display: flex;
  align-items: center;
  padding: 0 calc(#{$paddingMedium} * 2);
  margin: 0 auto;
  margin-bottom: $marginLarge;
  i {
    margin-right: $marginMedium;
    font-size: $iconMediumLarge;
    color: #d3d3d3;
  }
  span {
    font-size: $fontSmall;
  }
}
