.page-info-and-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .page-info {
    width: $formContainerWidth;
    margin-right: 48px;
    .pageTitle {
      font-size: $fontSuper;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .description {
      margin-top: calc(#{$marginLarge} * 2);
      padding-right: calc(#{$paddingLarge} * 4);
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  }
  .form-container {
    width: $formContainerWidth;
    input {
      width: 100%;
      padding: calc(#{$fontSmall} + (#{$marginSmall} * 2))
        calc(#{$paddingLarge} / 2);
      padding-bottom: $marginSmall;
      font-size: $fontLarge;
      border: none;
      border-radius: 4px;
      letter-spacing: 1px;
      &[type="submit"] {
        padding: calc((#{$fontSmall} + (#{$marginSmall} * 2)) / 2)
          $paddingMedium;
        background-color: $accentColor;
        color: white;
      }
      &:not([type="submit"]) {
        margin-bottom: $marginLarge;
        border: 1px solid whitesmoke;
        &.valid {
          border: 1px solid $greenColor;
        }
        &.err {
          border: 1px solid $accentColor;
        }
      }
    }
    .input-container {
      position: relative;
      .title,
      .msg {
        position: absolute;
        top: $marginSmall;
        font-size: $fontMicro;
        font-weight: 300;
        transition: all 0.1s ease-in-out;
      }
      .title {
        left: calc(#{$paddingLarge} / 2);
        letter-spacing: 1px;
        &.large {
          top: calc(
            (
                #{$fontSmall} + #{$fontLarge} + (#{$marginSmall} * 2) - #{$fontMicro}
              ) / 2
          ); // (inputHeight - titleFontSize) / 2
          font-size: $fontMedium;
          color: grey;
        }
      }
      .msg {
        right: calc(#{$paddingLarge} / 2);
        &.hidden {
          display: none;
        }
        &.valid {
          border: 1px solid $greenColor;
        }
        &.err {
          color: $accentColor;
        }
      }
    }
  }
}
