.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $paddingMedium;
  background-color: $white;
  .menu-btn-and-logo {
    display: flex;
    align-items: center;
    .menu-btn {
      font-size: $iconMedium;
      padding: $paddingMedium;
      margin-right: $marginMedium;
    }
    .logo {
      display: flex;
      align-items: center;
      i {
        font-size: $iconLarge;
        margin-right: $marginSmall;
      }
      .title {
        font-size: $fontLarge;
      }
    }
  }
  .search-form {
    position: relative;
    width: 40%;
    i {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: $iconMedium;
    }
    input {
      width: 100%;
      padding: $paddingSmall $paddingMedium;
      padding-left: calc(#{$paddingMedium} * 4);
    }
  }
  .authentication {
    display: flex;
    li {
      &:not(.loggedUser) {
        padding: $paddingMedium;
        margin-left: $marginSmall;
        letter-spacing: 0.6px;
        &:hover {
          background-color: $accentColor;
          border-radius: 4px;
        }
      }
      &.loggedUser {
        position: relative;
        display: flex;
        align-items: center;
        .name {
          font-size: $fontSmall;
          margin-right: 10px;
        }
        img {
          width: $avatarWidthSmall;
          height: $avatarHeightSmall;
          border-radius: 50%;
        }
        .dropdown-btn {
          padding: $paddingSmall;
          margin-left: $marginSmall;
        }
        .dropdown {
          position: absolute;
          top: 40px;
          right: 0;
          z-index: 99;
          &.hidden {
            display: none;
          }
          .content {
            padding: $paddingMedium;
            min-width: 180px;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0px 6px 17px -6px rgba(0, 0, 0, 0.75);
            li {
              margin: $marginMedium 0;
              a {
                display: flex;
                align-items: center;
                i {
                  width: calc(#{$iconMedium} + 4px);
                  margin-right: $marginMedium;
                }
              }
            }
          }
        }
      }
    }
  }
}
