aside.aside.hidden
    .list
        ul.menu
            h2.title  Menu
            li
                a(href="#")
                    i.fas.fa-home
                    span Home
            li
                a(href="#")
                    i.fas.fa-film
                    span Library        
            li
                a(href="#")
                    i.fas.fa-heart
                    span Liked videos
        ul.subscriptions
            h2.title Subscriptions
            li
                a(href="#")
                    img(src="/static/profile.png")
                    span Rossa
            li
                a(href="#")
                    img(src="/static/profile.png")
                    span kimchi
            li
                a(href="#")
                    img(src="/static/profile.png")
                    span samgyupsal
    footer.footer
        i.fab.fa-youtube
        span WeTube &copy; #{new Date().getFullYear()}