header.header
    button.menu-btn
        i.fas.fa-bars
    .logo
        i.fab.fa-youtube
        a.title(href="#") WeTube
    form.search-form(action="#", method="#")
        i.fas.fa-search
        input(type="text", name="term", placeholder="Searching...")
    ul.authentication
        li
            a(href="#") Join
        li
            a(href="#") Login
