header.header
    .menu-btn-and-logo
        button.menu-btn
            i.fas.fa-bars
        a(href="#").logo
            i.fab.fa-youtube
            span.title WeTube
    form.search-form(action="#", method="#")
        i.fas.fa-search
        input(type="text", name="term", placeholder="Searching...")
    ul.authentication
        li
            a(href="#") Join
        li
            a(href="#") Login
