header.header
    .menu-btn-and-logo
        button.menu-btn
            i.fas.fa-bars
        a(href="#").logo
            i.fab.fa-youtube
            span.title WeTube
    form.search-form(action="#", method="#")
        i.fas.fa-search
        input(type="text", name="term", placeholder="Search...")
    ul.authentication
        li
            a(href="#") Join
        li
            a(href="#") Login
        //- li.loggedUser#jsLoggedUser
        //-     span.name Rossa
        //-     img(src="/static/profile.png")
        //-     button.dropdown-btn
        //-         i.fas.fa-sort-down
        //-     .dropdown.hidden
        //-         ul.content
        //-             li
        //-                 a(href="#")
        //-                     i.fas.fa-tv
        //-                     span My Channel
        //-             li
        //-                 a(href="#")
        //-                     i.fas.fa-upload
        //-                     span Upload Video
        //-             li
        //-                 a(href="#")
        //-                     i.fas.fa-user-edit
        //-                     span Edit Profile
        //-             li
        //-                 a(href="#")
        //-                     i.fas.fa-sign-out-alt
        //-                     span Log Out
                            
