.change-password {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .page-info-and-form-container {
    .page-info {
      .pageTitle {
        font-size: $font3x;
        line-height: 1.1;
      }
    }
  }
}
