.edit-video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .divider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: $marginLarge 0;
    font-size: $fontMicro;
    font-weight: 300;
    .line {
      width: 45%;
      border-bottom: 1px solid grey;
    }
  }
}
