.video-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 100%;
  video {
    width: 100%;
  }
  .video-info {
    margin: $marginLarge 0;
    .video-info__column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:first-child {
        margin-bottom: $marginMedium;
        h2 {
          font-size: $font2x;
        }
        button {
          padding: $paddingSmall;
        }
      }
      &:nth-child(2) {
        align-items: flex-start;
        span {
          font-size: $fontSmall;
          color: $greyLightColor;
        }
        .action-btns {
          display: flex;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $fontSmall;
            padding: $paddingSmall;
            margin-left: $marginMedium;
            i {
              margin-right: $marginSmall;
              &.fas {
                color: $redColor;
              }
            }
          }
        }
      }
    }
  }
  section.comments {
    h2 {
      margin: $marginMedium 0;
    }
    form {
      display: flex;
      align-items: center;
      img {
        width: $avatarWidth;
        height: $avatarHeight;
        border-radius: 50%;
        margin-right: $marginMedium;
      }
      input {
        padding: $paddingSmall 0;
        background-color: inherit;
        color: $whiteLightColor;
        border-bottom: 1px solid $whiteLightColor;
        border-radius: 0;
        &::placeholder {
          color: $whiteLightColor;
        }
        &:active {
          background-color: inherit;
        }
      }
    }
    ul {
      margin-top: $margin3x;
      li {
        display: flex;
        padding: 0;
        margin-bottom: $marginLarge;
        img {
          width: $avatarWidth;
          height: $avatarHeight;
          border-radius: 50%;
          margin-right: $marginMedium;
        }
        .comment__content {
          padding: calc(#{$paddingSmall}/ 2) 0;
          width: 100%;
          &:not(.comment__btns) {
            font-weight: 300;
            font-size: $fontSmall;
            letter-spacing: 0.8px;
          }
          h4 {
            color: $greyLightColor;
          }
          span.text {
            display: block;
            margin-top: $marginSmall;
            width: 100%;
          }
          .comment__btns {
            display: flex;
            margin-top: $marginLarge;
            button {
              width: auto;
              height: auto;
              padding: calc(#{$paddingSmall}/ 2) calc(#{$padding}/ 2);
              margin-right: $marginMedium;
              border: 1px solid $whiteLightColor;
              border-radius: 20px;
              i {
                margin-right: $marginMicro;
                &.fas {
                  color: $redColor;
                }
              }
              &.reply {
                color: $blueColor;
              }
            }
          }
        }
      }
    }
  }
}
