// Colors
$accentColor: #ff6b81;

// Icon sizes
$iconMedium: 16px;
$iconLarge: 30px;

// Font sizes
$fontMicro: 12px;
$fontSmall: 14px;
$fontMedium: 16px;
$fontLarge: 20px;

// Padding sizes
$paddingSmall: 8px;
$paddingMedium: 10px;
$paddingLarge: 24px;

// Margin sizes
$marginSmall: 4px;
$marginMedium: 10px;
$marginLarge: 24px;

// Avatar sizes
$avatarWidthSmall: 36px;
$avatarHeightSmall: 36px;
$avatarWidth: 46px;
$avatarHeight: 46px;
