// Colors
$accentColor: #ff6b81;

// Icon sizes
$iconMedium: 16px;
$iconLarge: 30px;

// Font sizes
$fontMedium: 16px;
$fontLarge: 20px;

// Padding sizes
$paddingSmall: 8px;
$paddingMedium: 10px;

// Margin sizes
$marginSmall: 4px;
$marginMedium: 10px;
